@import "../css/normalize_style.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}


$frame-width: 600px;
$info-height: 400px;

.container {
  width: $frame-width;
  //height: 435px;
  margin: 0 auto;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.search{
  border-bottom: 1px solid black;

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
  }

  &__city {
    width: 0.75 * $frame-width;
    padding: 3px;
  }

  &__submit-btn {
    background-color: inherit;
    padding: 3px;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.info {
  display: flex;

  &__main {
    width: 50%;
    height: 100%;

    border-right: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__window {
    width: 100%;
    height: 340px;
    padding: 15px;

    display: none;
    &_active {
      display: flex;
      flex-direction: column;
    }
  }
}

.now-window {
  &__temperature {
    font-size: 70px;
    line-height: 82px;
    margin-bottom: 40px;
  }
  &__weather-icon {
    align-self: center;
    margin-bottom: 100px;

    width: 80px;
    height: 60px;
  }
}

.weather-icon {
  &_broken-clouds {background: url("../img/weather-icons/broken-clouds.png") center/cover no-repeat;}
  &_clear-sky {background: url("../img/weather-icons/clear-sky.png") center/cover no-repeat;}
  &_few-clouds {background: url("../img/weather-icons/few-clouds.png") center/cover no-repeat;}
  &_mist {background: url("../img/weather-icons/mist.png") center/cover no-repeat;}
  &_rain {background: url("../img/weather-icons/rain.png") center/cover no-repeat;}
  &_scattered-clouds {background: url("../img/weather-icons/scattered-clouds.png") center/cover no-repeat;}
  &_shower-rain {background: url("../img/weather-icons/shower-rain.png") center/cover no-repeat;}
  &_snow {background: url("../img/weather-icons/snow.png") center/cover no-repeat;}
  &_thunderstorm {background: url("../img/weather-icons/thunderstorm.png") center/cover no-repeat;}
}

.details-window {
  font-size: 24px;
  line-height: 28px;

  &__city-name {
    padding-top: 18px;
    margin-bottom: 40px;
  }
  &__parameters-list {
    li {
      margin-bottom: 17px;
    }
  }
}

.forecast-window {
  padding-bottom: 0;
  &__city-name {
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 7px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.forecast-item {
  height: 120px;
  border: 1px solid black;
  padding: 9px;
  margin-bottom: 9px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  &:last-child {
    margin-bottom: 0;
  }

  &__date {
    display: flex;
    justify-content: space-between;
  }

  &__weather {
    display: flex;
    justify-content: space-between;
  }

  &__temp {
    margin-bottom: 2px;
  }

  &__weather-parameters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__weather-icon {
    width: 30px;
    height: 30px;
    //&_rain {
    //  background: url("../img/weather-icons/rain.png") center/auto no-repeat;
    //}
  }
}

.city-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 24px;
    line-height: 28px;
  }
  &__add-favorite {
    width: 25px;
    height: 25px;
    cursor: pointer;
    &_not-added {
      background: url("../img/icons/black-heart.svg") center no-repeat;
    }
    &_added {
      background: url("../img/icons/red-heart.svg") center no-repeat;
    }
  }
}

.change-info {
  display: flex;
  border-top: 1px solid black;

  &__btn {
    width: 33.33%;
    border-right: 1px solid black;
    text-align: center;
    line-height: 37px;

    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    &_active {
      background-color: black;
      color: white;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
}

.location {
  width: 50%;
  height: 100%;

  &__title {
    font-size: 24px;
    line-height: 28px;

    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;

    padding: 33px 20px 7px;
  }

  &__list {
    padding: 35px 18px 15px;

    li {
      margin-bottom: 10px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__city-name {
    min-width: 150px;
    cursor: pointer;
    padding: 3px;
    &:hover {
      color: rgba(0, 0, 0, 0.65);
    }
    &:active {
      color: black;
    }
  }

  &__delete-btn {
    width: 20px;
    height: 20px;
    padding: 3px;

    cursor: pointer;
    background: url("../img/icons/cross.svg") center no-repeat;
  }
}